body {
  letter-spacing: 1px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 20% 1fr 20%;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
}
