* {
    border: 1px solid black;
}

body {
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    height: 3600px;
    display: grid;
    grid-gap: 30px; 
    /* align-items: center; */
    /* justify-content: center; */
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 10% 1fr 10%;
    grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
}
header, nav, main, aside, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgb(138, 7, 68);
    grid-area: header;

}

nav {
 
    background-color: rgb(179, 230, 102);
    grid-area: nav;
}

.post {
    width: 35%;
    height: 20%;

}

.location-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-top: 5px;
    padding-left: 10px;
    
}

.location-box > img {
    width: 20px;
    margin: 5px;
}


.location-box > p {
    font-weight: bold;
    font-size: 12px;
   


}

.post-img {
    width: 95%;
    height: 40%;
    border-radius: 10px;
}

.post-tytle:visited {
    color: black;
}
.post-tytle:hover {
    color: purple;
}
.post-tytle {
    color: black;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    margin: 0;
    padding-right: 5px;
}

.writer {
    display:flex;
    align-items: center;
    /* justify-content: left;    */
}

.writer > img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
}


main {
    background-color: rgb(77, 91, 170);
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    /* align-items: center; */



    
}

aside {

    background-color: rgb(99, 159, 187);
    grid-area: aside;
    
}

footer {
    background-color: rgb(221, 123, 43);
    grid-area: footer;

}